.container{
    margin: auto
}
ul li {
    padding: 10px;
    cursor: pointer;
}

ul li.selected {
    background-color: #dddddd;
    color: black;
}
.list-group-item:hover {
    background-color: #5c5a5a;
}

.fa {
    
    color: dimgray;
    font-size: 150%;
    font-size: x-large;
}

label{
    margin: 5%;
}
