.container {
  margin: auto
}

ul li {
  padding: 10px;
  cursor: pointer;
}

ul li.selected {
  background-color: #dddddd;
  color: black;
}

.list-group-item:hover {
  background-color: #5c5a5a;
}

.list-group-item {
  display: flex;
}

#addButton {
  color: dimgray;
  font-size: 150%;
  font-size: x-large;
  text-align: center;
  display: block;
}

label {
  margin: 5%;
  width: -webkit-fill-available;
  display: inline-grid;
  text-align: left;
}

#deleteButton {
  font-size: small;
  float: right;
  width: 100%;
}

.btn-success {
  float: center;
}

.form {
  text-align: center;
}

td {
  width: 85%;
}
