<div class="jumbotron text-center">
  <h1 (click)="logout()">{{currentUser.id}}</h1>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-9">
      <vg-player (onPlayerReady)="onPlayerReady($event)" *ngIf="currentItem.url!=null ">
        <vg-controls>
          <vg-play-pause></vg-play-pause>
          <vg-playback-button></vg-playback-button>
          <vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display>
          <vg-scrub-bar>
            <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
            <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
          </vg-scrub-bar>
          <vg-time-display vgProperty="total" vgFormat="mm:ss"></vg-time-display>
          <vg-mute></vg-mute>
          <vg-volume></vg-volume>
          <vg-fullscreen></vg-fullscreen>
        </vg-controls>
        <video #media [vgMedia]="media" [src]="currentItem.url" id="singleVideo" preload="auto" crossorigin>
        </video>
      </vg-player>
    </div>
    <div class="col-sm-3">
      <h4>{{currentUser.id}}'s List</h4>
      <ul class="list-group list-group-flush">
        <li class="list-group-item " *ngFor="let item of playlist; let $index = index">
          <td (click)="onClickPlaylistItem(item.name, $index)" [class.selected]="item === currentItem">
            {{ item.name }}
          </td>
          <div *ngIf="isAdmin()">
            <button class="btn" id="deleteButton" (click)="deleteItem(item.name)">
              <i class="fa fa-trash" aria-hidden="true"></i>
            </button>
          </div>
        </li>
        <a class="list-group-item btn" id="addButton">
          <i class="fa fa-plus-circle" (click)="onClickAddItem(!hidden)"></i>
        </a>
      </ul>
      <div *ngIf="hidden" class="form">
        <label class="center-block">Title:
          <input [(ngModel)]="addedMedia.name" type="text">
        </label>
        <label class="center-block">URL:
          <input [(ngModel)]="addedMedia.url" type="url">
        </label>
        <button type="submit" class="btn btn-success" (click)="onSubmit()">
          Save
        </button>
      </div>
    </div>
  </div>
</div>