.form-group{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.form-control{
    margin:1%;

}
.btn{
    margin: 1%;
}
.row{
    text-align: center;
    margin: auto;
}